@using ToiLamKyThuat.Data.DataTranferObjects
@using ToiLamKyThuat.Data.Models
@using ToiLamKyThuat.Data.Helpers
@model IEnumerable<TreeMenuDataTranfer<MasterData>>

<ul class="nav nav-pills" id="mainNav">
    @foreach (var item in Model)
    {
        if (item.Childrens.Any())
        {
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle active" style="font-size: 16px;">
                    @item.Item.CodeName
                </a>
                @Html.Partial("~/Views/Shared/_TreeMenu.cshtml", item.Childrens)
            </li>
        }
        else
        {
            <li>
                <a class="nav-link" href="@(AppGlobal.Domain + item.Item.Note)" style="font-size: 16px;">
                    @item.Item.CodeName
                </a>
            </li>
        }
    }
</ul>