@{
    ViewData["Title"] = "Về tác giả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header page-header-modern page-header-background page-header-background-sm" style="background-image: url(img/demos/photography/custom-header-bg.jpg);">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-normal text-12 m-0 pb-2">Tôi tên là, Dương Nguyễn Tấn Hòa</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row mt-4 pt-4 mb-4 pb-4">
        <div class="col-sm-4">
            <div class="owl-carousel owl-theme nav-center custom-carousel-dots-style custom-carousel-dots-style-inside mt-1" data-plugin-options="{'items': 1, 'responsive': {'479': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'margin': 10, 'loop': false, 'dots': true, 'nav': false, 'autoplay': true, 'autoplayTimeout': 5000}">
                <div>
                    <img src="~/images/avatar.png" width="772" height="1000" alt="" class="img-fluid" />
                </div>
            </div>

            <h2 class="font-weight-bold mb-2 custom-font-size-1">Dương Nguyễn Tấn Hòa</h2>
            <h5 class="mb-4">Lập trình viên</h5>

            <div class="row mb-4">
                <div class="col-lg-6">
                    <ul class="list list-icons list-icons-style-2 text-color-primary">
                        <li><a><i class="fas fa-map-marker-alt"></i>Bến Lức - LA</a></li>
                        <li><a><i class="fas fa-phone"></i>035 975 94 02</a></li>
                        <li><a href="demo-photography-3-contact-me.html"><i class="far fa-envelope"></i>Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list list-icons list-icons-style-2 text-color-primary">
                        <li><a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                        <li><a target="_blank" href="http://www.facebook.com"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li><a target="_blank" href="http://www.instagram.com"><i class="fab fa-instagram"></i>Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <p>Xin chào các bạn mình là <strong>Dương Nguyễn Tấn Hòa</strong>. Sinh ra và lớn lên ở Long An nơi được xem là cánh cửa chính của toàn bộ miền tây - về mặt địa lý. Tính đến thời điểm 2020 mình đã qua được 23 "nồi bánh Tét" và hiện tại đang là một lập trình viên.</p>

            <img class="img-fluid float-sm-right ml-sm-4 mb-3" width="280" src="~/images/avatar-1.png" alt="">

            <p> Với ước mơ trở thành một kỹ sư, mình đã lựa chọn con đường học vấn 4 năm tại Trường đại học Bách Khoa - Đại học Quốc gia Thành phố Hồ Chí Minh và mong muốn chia sẻ kiến thức cũng như kinh nghiệm sống mình quyết định xây dựng trang Blog này để <strong>LƯU LẠI BÀI HỌC, KINH NGHIỆM, TRIẾT LÝ</strong> của bản thân. Theo như mình yếu tố quyết định sự thành công của con người đều nằm ở <strong>CHUYÊN MÔN, KINH NGHIỆM, TRIẾT LÝ</strong> </p>

            <p> Về Blog Tôi Làm Kỹ Thuật thì nói cho sang chảnh thế thôi, chứ thật ra mình vẫn đang là "vọc sĩ". Kỹ thuật mà, nó vốn là phương pháp được sử dụng để đạt được một kết quả nhất định, là cách thức tiến hành một loại hoạt động và kỹ thuật bao gồm rất nhiều lĩnh vực.</p>

            <p> Nội dung Blog chủ yếu là <strong>CHÉM GIÓ VỀ MỘT SỐ LĨNH VỰC LIÊN QUAN</strong>.</p>

            <h2 class="font-weight-normal mb-4 mt-4 pt-4">Tiểu sử - quá trình</h2>

            <ul class="list list-unstyled list-primary list-borders">
                <li class="pt-2 pb-2"><strong class="text-color-primary">2015 - </strong> Tốt nghiệp Trung học phổ thông Nguyễn Hữu Thọ, huyện Bến Lức, tỉnh Long An. Bắt đầu học tập tại Trường đại học Bách Khoa - Đại học quốc gia Thành phố Hồ Chí Minh</li>
                <li class="pt-2 pb-2"><strong class="text-color-primary">2018 - </strong> Thực tập sinh tại Robert Bosch Engineering and Business Solution Co,Ltd (RBVH).</li>
                <li class="pt-2 pb-2"><strong class="text-color-primary">2019 - </strong> Hoàn thành luận văn Hệ thống quản lý kho tại Trường Đại học Bách Khoa - Đại học quốc gia Thành phố Hồ Chí Minh, tốt nghiệp đại học Bách Khoa hệ chính quy</li>
                <li class="pt-2 pb-2"><strong class="text-color-primary">2020 - </strong> Nhân viên lập trình tại Tập đoàn Việt Úc.</li>
            </ul>
        </div>
    </div>
</div>

