@{
    ViewData["Title"] = "Trang Blog Tôi làm kỹ thuật";
}
<style>
    .top-header {
        border: solid 2px black;
    }
</style>
<section class="page-header page-header-modern page-header-background page-header-background-sm" style="background-image: url(img/demos/photography/custom-header-bg.jpg);">
    <div class="container">
        <div class="row py-2">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-normal text-12 m-0 pb-2">Kỹ thuật và đời sống - Tôi làm kỹ thuật</h1>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-9">
            <div class="blog-posts" id="listPost">
                
            </div>
        </div>
        <div class="col-md-3">
            <input class="form-control" placeholder="Tìm kiếm" />
            <div class="top-header mt-2"></div>
            <div>
                <h3>Bài viết mới nhất</h3>
            </div>
            <div class="top-header mt-2"></div>
            <div>
                <h3>Tác giả</h3>
            </div>
            <div class="top-header mt-2"></div>
            <div>
                <h3>TAGS</h3>
            </div>
        </div>
    </div>
</div>
<script src="~/js/mustache.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script id="postTemplate" type="x-tmpl-mustache">
    {{#Data}}
    <article class="post post-large">
        <div class="post-image">
            <a href="blog-post.html">
                <img src="{{CoverImage}}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
            </a>
        </div>
        <div class="post-date">
            <span class="day">10</span>
            <span class="month">Jan</span>
            <span class="year">2020</span>
        </div>
        <div class="post-content">
            <h2 class="font-weight-semibold line-height-3 mb-3" style="color:black !important;"><a href="blog-post.html">{{Title}}</a></h2>
            <p style="color:black !important; font-size: 18px;">
                {{Summary}}
            </p>
            <div class="post-meta">
                <span><i class="far fa-user"></i> By <a href="#">Admin</a> </span>
                <span><i class="far fa-comments"></i> <a href="#">0 Bình luận</a></span>
                <span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0"><a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Đọc tiếp</a></span>
            </div>
        </div>
    </article>
    {{/Data}}
</script>
<script>
    var Page = 0;
    var PageSize = 20;

    $(document).ready(() => {
        fetchData();
    });

    function fetchData() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetPostDataTranfersByPageAndPageSizeToList", "Post")",
            data: {
                Page: Page,
                PageSize: PageSize
            },
            success: (res) => {
                renderListPost(res, null);
                Page += 1;
            }
        });
    }

    function renderListPost(data, element) {
        var postTemplate = $("#postTemplate").html();
        var html = Mustache.render(postTemplate, {
            Data: data
        });
        $("#listPost").append(html);
    }
</script>

